<div class="products">
<% for (var i = 0; i < products.length; i++) { %>
<form class="pizza-tile">
  <a href="https://www.w3schools.com">
  <div class="tile-header" style="background-image:url('https://i.postimg.cc/44b1D01y/Rectangle-417.png');">
    <i class="fab fa-adn">
      <p class="alergents">ALERGENTS:</p>
      <p class="alergents"><%=products[i].alergents.map(e => e.name).join(" ,") %></p>
    </i>
  </div>
  </a>
  <div class="tile-body">
      <h3><%=products[i].name %></h3>
      <p class="description"><%=products[i].ingredients.map(e => e.name).join(" ,") %></p>

     <h4>Size</h4>
    <div class="size">
      
           <div>
      <input type="radio" name="size" id="i-size-<%=i%>" value="25cm" checked>
             <label for="i-size-<%=i%>">
               <p><%=products[i].size_price[0].size %></p>
                <i><%=products[i].size_price[0].price %></i>
             </label>
        </div>
       <div>
      <input type="radio" name="size" id="i-size-<%=i%><%=i%>" value="30cm">
      <label for="i-size-<%=i%><%=i%>">
        <p><%=products[i].size_price[1].size %></p>
        <i><%=products[i].size_price[1].price %></i>
      </label>
        </div>
         <div>
      <input type="radio" name="size" id="i-size-<%=i%><%=i%><%=i%>" value="35cm">
      <label for="i-size-<%=i%><%=i%><%=i%>">
        <p><%=products[i].size_price[2].size %></p>
        <i><%=products[i].size_price[2].price %></i>
      </label>
        </div>
    </div>
       

    <div class="price-qty">
      <div class="price">
        <h4>Price</h4>
        <p><%=products[i].size_price[0].price %></p>
      </div>
      <div class="qty">
        <h4>Qty</h4>
        <input type="number" name="qty" min="1" max="100" step="1" value="1">
      </div>
    </div>

    <a href="add/<%=products[i]._id%>">
    <button class="add-product" >
      <i class="fas fa-angle-down"></i>
      Add to basket
      <span class="total"></span>
      </button>
      </a>
        </div>
</form>
<% } %>
</div>